html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/galaxy.jpg);
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  background-color: #c39278;
}

section {
  flex-basis: 57%;
  margin-right: 10%;
}
aside {
  flex-basis: 33%;
}

p,
[for="abtype"] {
  margin: 2rem 0 0 0;
}

fieldset {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 0 2rem 0;
}

legend {
  font-weight: bold;
  margin: 1.5rem 0 1rem 0;
  border: px solid red;
}

label {
  border: px solid green;
  display: block;
  padding: 0.3rem;
}

textarea {
  height: 10rem;
  padding: 1rem;
}

select {
  font-size: 1rem;
}

button {
  font-size: 1rem;
  margin: 1rem 0;
  background-color: #8d5624;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: black;
}

h1,
legend,
h3 {
  font-family: "Roboto", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  display: block;
  margin: 0 0 2rem 0;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 10px;
}

iframe {
  border: 10px solid rgb(133, 17, 17);
  margin: -0.2rem 2rem 0 0;
  padding-bottom: 1rem;
}

h3 {
  border: px solid black;
  margin-top: 5rem;
}
